.CodeMirror {
  height: 100% !important;
}

@component;

.wrap {
  display: flex;
  height: 100%;
}

.wrap > div {
  flex: 1;
  overflow: hidden;
}

.preview-wrap {
  flex-direction: column;
  background: #ddd;
}

.preview {
  width: 100%;
  height: 100%;
  contain: strict;
}
