.CodeMirror {
  height: 100% !important;
}

@component;

.wrap {
  display: flex;
  height: 100%;
}

.wrap > div {
  flex: 1;
  overflow-x: auto;
}

.wrap > .toggle {
  flex: 0 0 100px;
}

.preview {
  background: #ddd;
}
