@component;

.panel {
  padding: 20px;
  background: var(--content-bg);
}

.template {
  flex: 1;
  opacity: 0.9;
  z-index: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.template:hover {
  transform: scale(1.05);
  opacity: 1;
  z-index: 1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.preview {
  padding-top: 178%; /* ratio = 16/9 */
  position: relative; /* all children should be position: absolute */
}

.preview > video,
.preview > img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.preview > img {
  z-index: 9; /* videos go over */
}
