@component;

.button {
  flex: 0 0 40px;
  height: 40px;
  cursor: pointer;

  /* Using <, > symbols in place of svgs: */
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #888;
}

.button:active {
  background: var(--blueishgray-semiopaque);
  color: var(--amp-blue);
  border-radius: 50%;
}

.fake-icon {
  /* Make the <, > symbols look roughly equilateral and vertically center. */
  transform: scaleY(1.5) translateY(-0.1em);
}
