@component;

.select {
  justify-self: center;
}

.wrap {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.wrap-full {
  padding: 0;
}

.wrap-full > .inner {
  border-width: 0;
  box-shadow: none;
}

.inner {
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
